@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Oxygen:wght@300;400&display=swap");
* {
  text-decoration: none !important ;
  font-family: "Oxygen", sans-serif;
}
.header {
    background-color: #ff9e0ddd !important;
}
.storeLogo{
    font-family: 'Great Vibes', cursive;
    color: rgb(0, 0, 0) !important;
}
.fa{ 
    color: rgb(0, 0, 0) !important;
}
.fas{ 
    color: rgb(0, 0, 0) !important;
}